pre, .pre  {
  overflow-x: auto;
  overflow-y: hidden;
}


pre  code {
  display: block;
  padding: 1.5em 1.5em;
  white-space: pre;
  font-size: .875rem;
  line-height: 1.45;

}

pre {
  background-color: #f6fffe;
  border-radius: 3px;
  white-space: pre;
  hyphens: none;
  position: relative;
}
